<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">You've reached the end!</h5>
                
                <p class="grey-text text-lighten-4">Contact:1048157315@qq.com </p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#">Support this Website!</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/shenhengheng/">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://plus.google.com/+heng960509">Google+</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h6 class="white-text">友情链接:</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.shenhengheng.xyz" target="_blank">MainSite</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://blog.shenhengheng.xyz" target="_blank">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://data.shenhengheng.xyz" target="_blank">Data Science Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://Iotppt.shenhengheng.xyz" target="_blank">IoT Materials</a></li>

                </ul>
              </div>
            </div>
          </div>
          <!--<a href="https://xkcd.com/353/" target='blank'><p class="grey-text right" style='padding-right:10px'>Programming is a superpower.</p></a>-->
          <div class="footer-copyright">
            <div class="container">
            © 2016 shenhengheng.xyz
            
            </div>

          </div>
        </footer>