<div id="gitalk-container"></div>
</div>
<!-- <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css"> -->
<link rel="stylesheet" href="{{ "css/gitalk.css" | relURL }}" media="all">
<style type="text/css">
	
.gt-container .gt-comment-admin .gt-header-comment .gt-comment-content {
    background-color: #f5f3d5;
}

textarea {
   background-color: #f5f3d5;
}
</style>
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script type="text/javascript">
      var gitalk = new Gitalk({
        clientID: 'a98bac7d9ab86f4813de',
        clientSecret: '307c20444af8207286b5f78f7a5ed941786edad0',
        repo: 'readailib',
        owner: 'rh01',
        admin: ['rh01'],
        body: location.href,
      });
      gitalk.render('gitalk-container');
 </script>